/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #001D9D
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// Keep in mind this will be changed, colors come from IOHK presentation for future reference.
$blue = #668DBD
$green = #67B479
$orange = #F8732D
